<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${dubbo.applicationName}" />
	<dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" check="false" />
	<dubbo:protocol name="dubbo" port="-1" />
	<dubbo:provider host="${dubbo.provider.host}" />
	<dubbo:service interface="com.noisyle.dubbodemo.service.DemoService" ref="demoService" accesslog="true" />
</beans>